<%= form_with(model: realty, local: true) do |f| %>
  <% if realty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(realty.errors.count, "error") %> prohibited this realty from being saved:</h2>

      <ul>
      <% realty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, id: :realty_title %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name, id: :realty_category_id %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, id: :realty_content %>
  </div>

  <%= f.fields_for :post_attachments do |p| %>
    <div class="field">
      <%= p.label :avatar %><br>
      <%= p.file_field :avatar, :multiple => true, name:     "post_attachments[avatar][]" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


