<% provide(:title, "#{@title} в Бишкеке") %>

<p id="notice"><%= notice %></p>

<h1><%= @title %> в Бишкеке</h1>


<% @realties.each do |realty| %>
  <table class="table table-striped">
    <tr>
      <td colspan="2"><%= link_to "#{realty.title}", "/categories/#{realty.category_id}/realties/#{realty.remote_id}" %> | <%= realty.category.name %></td>
    </tr>

    <tr>
      <td>
        <% if realty.post_attachments.present? %>
          <div>
            <%= image_tag("diesel/#{realty.remote_id}/#{realty.post_attachments.first.path}.png", alt: "#{realty.title}", style: "width:150px; height:150px;") %>
            Всего фото: <%= realty.post_attachments.count %>
          </div>
        <% end %>

      </td>


      <td><%= realty.content %></td>
    </tr>
  </table>
<% end %>


<%= will_paginate @realties %>