<% provide(:title, "#{@realty.title} - #{@realty.category.name} в Бишкеке") %>
<p id="notice"><%= notice %></p>

<h1>
  <%= @realty.title %>
</h1>

<p>
  <strong>Категория:<%= @realty.category.name %></strong>

</p>

<p>
  <%= @realty.content %>
</p>
<% @post_attachments.each do |post| %>
  <%= image_tag(get_photo_path(post), alt: 'Image') %>
<% end %>
