<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>

<ul>
<% @categories.each do |category| %>
  <li><%= link_to category.name, "/categories/#{category.id}" %></li>
<% end %>
</ul>