<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Realty.kg", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Купить однокомнтоную квартиру",   '/categories/1' %></li>
        <li><%= link_to "Купить двухкомнатную квартиру",   '/categories/2' %></li>
        <li><%= link_to "Купить трехкомнатную квартиру",   '/categories/3' %></li>
        <li><%= link_to "Снять квартиру",   '/categories/4' %></li>
      </ul>
    </nav>
  </div>
</header>



